<div class="sticky-top bg-body-tertiary">
    <div class="container">

        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">


            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-2">
                <li><a href="{% url 'medical:index' %}" class="nav-link px-4 link-danger">Главная</a></li>
                <li><a href="{% url 'medical:labtest_list' %}" class="p-2 btn btn-outline-primary">Анализы</a></li>
                <li><a href="{% url 'medical:doctor_list' %}" class="p-2 btn btn-outline-primary">Врачи</a></li>
                <li><a class="p-2 btn btn-outline-primary" href="{% url 'cart:view_cart' %}">Корзина</a>


            </ul>

            <div class="col-md-3 text-end">
                {% if user.is_authenticated %}
                <a class="btn btn-primary px-4 gap-3" href="{% url 'users:profile' %}" role="button">Профиль</a>
                <a class="p-2 btn btn-outline-danger" href="{% url 'users:logout' %}" role="button">Выход</a>
                {% else %}
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}" role="button">Вход</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}" role="button">Регистрация</a>
                {% endif %}
            </div>
        </header>
    </div>
</div>