</body>{% extends 'medical/base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div>
                            <h6>Введите вашу почту. На нее вы отправим новый пароль</h6>
                        </div>
                        <input type="email" name="user_email">
                        <input type="submit" value="Отправить">
                    </form>
                </div>
                <div class="card-footer"></div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
</html>